/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex; /* Para centrar el texto */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor del juego */
.contenedor {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* 5 columnas */
  gap: 5px; /* Espacio entre las casillas */
}

/* Estilo de cada casilla */
.contenedor div {
  width: 100px;
  height: 100px;
  background-color: #ccc; /* Color de fondo inicial */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer; /* Cambia el cursor al pasar sobre la casilla */
  transition: background-color 0.3s; /* Para transición suave al seleccionar */
}

/* Estilo para las casillas encontradas */
.parEncontrado {
  background-color: rgb(200, 0, 255); /* Color de fondo cuando se encuentra una pieza */
  color: white; /* Color de texto blanco */
  font-weight: bold; /* Hacer que el texto sea en negrita */
}

/* Botón de reiniciar */
button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #d1aaaa; /* Color básico */
  border: 1px solid #aaa; /* Borde básico */
  cursor: pointer;
}
